
html {
  scroll-behavior: smooth;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
 
  text-decoration: none;
}

.container_1{
  
  height: 900px;
  /* background-color: #f2ecde; */
  font-family: 'Georgia', cursive;
  position: relative;
 
}
.df-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_2{
  border-radius: 2px;
  border-top: 2px solid #27291d;
  border-bottom: 2px solid #27291d;
  font-family: 'Georgia', cursive;

}
  

.boxcon{
   width: 1000px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 100px;
  flex-direction: row; 
  
}
 .box{
   border: 1px solid #27291d;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #27291d; 
  text-justify: inter-cluster;
 
}
@media (max-width: 1000px) {
  .boxcon {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.container_2{
  background-color: #ebdac8;
}
.container_2_wrapper{
  margin-top: 70px;

}
.content_wrapper1{
  background-color: #f2ecde;
}
.content_wrapper2{
  background-color: #f2ecde;
  margin-top: 0;
}
.second_container{
  height: 500px;
  overflow: hidden;
  
}
.conbox2{
  /* width: 400px;
  height: 300px;
  border: 1px solid #27291d; */
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  
}
.box2{
  width: 400px;
  height: 300px;
  border: 1px solid #27291d;
}
.content_wrapper3{
  background-color: #27291d;
  height: 500px;
  border-top: 2px solid #27291d;
}

.content_wrapper4{
  background-color: #f2ecde;
  height: 500px;
  border-top: 2px solid #27291d;
}
.content_wrapper5{
  background-color: #ebdac8;
  height: 500px;
  border-top: 2px solid #27291d;
}
.foot_wrapper{
  height: 500px;
  background-color: #27291d;
  border-top: 4px solid #27291d;
}
.subscribe_btn{
  position: absolute;
  top: 87px;
  left: -43px;
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0px;
  border: 1px solid #27291d;
  transform: rotate(90deg);
  color: #27291d;
  transition: 0.3s all ease-in-out;
  outline: 0 !important;
  font-weight:500 ;
  letter-spacing: 3px;
}
.subscribe_btn:hover{
background-color: #27291d;
color: #fff;
left: -40px;
}
.banner_text{
  max-width: 400px;
}
.banner_text p{
  font-size: 90px;
  font-weight: 300 !important;
  color: #27291d;
  white-space: nowrap;
}
.branding{
  font-size: 20px;
}