body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;

}
h6{
  margin-top: 65px;
  position: absolute;
  left: 45px;
  padding: 10px 20px;
  transform: rotate(-90deg);
  font-size: 25px;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 100;
  margin-left: 16%;
}
h8{
  margin-top: 22px;
  position: absolute;
  font-weight: 800;
  font-size: 10px;
  padding-top: -11px;
  margin-left: -288px;
}